<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hardware_ToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Hardware_ToolBox.Properties.Settings>
            <setting name="默认背景图片" serializeAs="String">
                <value>无</value>
            </setting>
            <setting name="填充方式" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="主题颜色" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="背景模糊" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="背景不透明" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="卡片不透明" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="过渡动画" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="刷新时间" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="视频还是图片" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="起始界面" serializeAs="String">
                <value>1</value>
            </setting>
        </Hardware_ToolBox.Properties.Settings>
    </userSettings>
</configuration>
